---
// Barra de contacto
---

<div class="bg-[#4fafb1] hidden lg:flex justify-center xl:justify-between items-center py-3">
	<!-- Información de contacto  -->
	<div class="flex justify-between gap-5 2xl:gap-12 xl:ml-12 2xl:ml-24 text-xs xl:text-sm text-white">
		<!-- Ubicación -->
		<div class="informacion-contacto">
			<img
				src="/ubicacion.svg"
				alt="Ubicación"
				class="size-6"
			/>
			<span>Jr. Trujillo Sur N° 768 - Chosica</span>
		</div>
		<!-- Correo -->
		<div class="informacion-contacto">
			<img 
				src="/correo.svg"
				alt="Correo"
				class="size-6" 
			/>
			<span>cepmachosica@cepma.edu.pe</span>
		</div>
		<!-- Teléfono -->
		<div class="informacion-contacto">
			<img
				src="/telefono.svg"
				alt="Teléfono"
				class="size-6"
			/>
			<span>01-3601377</span>
		</div>
		<!-- Horario -->
		<div class="informacion-contacto">
			<img
				src="/horario-atencion.svg"
				alt="Horario"
				class="size-6"
			/>
			<span>Atención: Lunes-Viernes 8:00 a.m - 3:00 p.m</span>
		</div>
	</div>

	<!-- Redes sociales -->
	<div class=" hidden xl:flex mr-12 2xl:mr-24 gap-4">
		<img 
			src="/facebook.svg" 
			alt="Facebook" 
			class="aumento-escala-simple" 
		/>
		<img 
			src="/whatsapp.svg" 
			alt="WhatsApp"
			class="aumento-escala-simple" 
		/>
		<img 
			src="/tiktok.svg"
			alt="TikTok"
			class="aumento-escala-simple" 
		/>
		<img
			src="/instagram.svg"
			alt="Instagram"
			class="aumento-escala-simple"
		/>
	</div>
</div>
