---
// Pie de página
---

<footer class="bg-[#D6F1EF] max-md:py-6 py-10">
	<div class="block md:flex md:justify-center lg:justify-evenly items-center gap-20 lg:px-30 2xl:px-40">
		<!-- Logo y redes sociales -->
		<div class="flex flex-col items-center gap-y-4 mb-8 sm:mb-0">
			<img 
				src="/fma-logo.svg"
				alt="Logo FMA"
				class="size-24"
			/>
			<div class="text-center">
				<p class="text-3xl font-semibold text-[#297378]">Síguenos en:</p>
				<div class="flex justify-center gap-4 mt-2">
					<a
						href="#"
						class="aumento-escala-simple hover:bg-white p-2 rounded-full shadow-md"
					>
						<img
							src="/facebook.svg"
							alt="Facebook"
							class="size-6"
						/>
					</a>
					<a
						href="#"
						class="aumento-escala-simple hover:bg-white p-2 rounded-full shadow-md"
					>
						<img 
							src="/tiktok.svg"
							alt="TikTok"
							class="size-6"
						/>
					</a>
					<a
						href="#"
						class="aumento-escala-simple hover:bg-white p-2 rounded-full shadow-md"
					>
						<img
							src="/instagram.svg"
							alt="Instagram"
							class="size-6"
						/>
					</a>
				</div>
			</div>
		</div>

		<!-- Información de contacto -->
		<div class="flex flex-col items-center lg:items-start gap-2 sm:px-0 ">
			<h3 class="text-3xl font-semibold text-[#297378]">Contáctanos:</h3>
			<div class="flex items-center gap-1">
				<img
					src="/correo-darker-primary.svg"
					alt="Correo"
					class="size-6"
				/>
				<span class="text-sm">cepmachosica@cepma.edu.pe</span>
			</div>

			<div class="flex items-center gap-1">
				<img
					src="/telefono-darker-primary.svg"
					alt="Teléfono"
					class="size-6"
				/>
				<span class="text-sm font-medium">01-3601377</span>
			</div>

			<div class="flex items-center gap-1">
				<img
					src="/horario-atencion-darker-primary.svg"
					alt="Horario de atención"
					class="size-6"
				/>
				<span class="text-sm font-normal text-nowrap">Atención: Lunes–Viernes 8:00 a.m – 3:00 p.m</span>
			</div>

			<div class="flex items-center gap-1">
				<img
					src="/ubicacion-darker-primary.svg"
					alt="Ubicación"
					class="size-6"
				/>
				<span class="text-sm">Jr. Trujillo Sur Nº 768 – Chosica</span>
			</div>
		</div>

		<!-- Mapa real de Google Maps -->
		<div class="hidden lg:flex">
			<iframe
				title="Mapa Colegio María Auxiliadora"
				src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3900.706176949367!2d-76.7017385!3d-11.9383317!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105ef44bdeec935%3A0xa944f086056171e3!2sColegio%20Mar%C3%ADa%20Auxiliadora!5e0!3m2!1ses-419!2spe!4v1719266965597!5m2!1ses-419!2spe"
				width="100%"
				height="240"
				style="border:0;"
				allowfullscreen=""
				loading="lazy"
				referrerpolicy="no-referrer-when-downgrade"
				class="rounded cursor-pointer"
			/>
		</div>
	</div>
</footer>
