---
// Pie de página

import Mapa from "../../images/index/map.webp";
---

<footer class="bg-[#d9f3f2] py-10">
	<div
		class="max-w-6xl mx-auto px-4 grid grid-cols-1 md:grid-cols-3 gap-8 items-center"
	>
		<!-- Logo y redes sociales -->
		<div class="flex flex-col items-center space-y-4">
			<img src="/fma-logo.svg" alt="Logo FMA" class="w-20" />
			<div class="text-center">
				<p class="text-[#206a6a] font-semibold">Síguenos en:</p>
				<div class="flex justify-center space-x-4 mt-2">
					<a
						href="#"
						class="transition-transform transform hover:scale-110 hover:bg-white p-2 rounded-full shadow-md"
					>
						<img
							src="/facebook.svg"
							alt="Facebook"
							class="w-6 h-6"
						/>
					</a>
					<a
						href="#"
						class="transition-transform transform hover:scale-110 hover:bg-white p-2 rounded-full shadow-md"
					>
						<img src="/tiktok.svg" alt="TikTok" class="w-6 h-6" />
					</a>
					<a
						href="#"
						class="transition-transform transform hover:scale-110 hover:bg-white p-2 rounded-full shadow-md"
					>
						<img
							src="/instagram.svg"
							alt="Instagram"
							class="w-6 h-6"
						/>
					</a>
				</div>
			</div>
		</div>

		<!-- Información de contacto -->
		<div class="text-[#297378] text-sm space-y-3">
			<h3 class="text-lg font-semibold">Contáctanos:</h3>

			<div class="flex items-center gap-1">
				<img
					src="correo-darker-primary.svg"
					alt="Correo"
					class="w-4 h-4 md:w-6 md:h-6"
				/>
				<span>cepmachosica@cepma.edu.pe</span>
			</div>

			<div class="flex items-center gap-1">
				<img
					src="telefono-darker-primary.svg"
					alt="Teléfono"
					class="w-4 h-4 md:w-6 md:h-6"
				/>
				<span>01-3601377</span>
			</div>

			<div class="flex items-center gap-1">
				<img
					src="horario-atencion-darker-primary.svg"
					alt="Teléfono"
					class="w-4 h-4 md:w-6 md:h-6"
				/>
				<span>Atención: Lunes–Viernes 8:00 a.m – 3:00 p.m</span>
			</div>

			<div class="flex items-center gap-1">
				<img
					src="ubicacion-darker-primary.svg"
					alt="Teléfono"
					class="w-4 h-4 md:w-6 md:h-6"
				/>
				<span>Jr. Trujillo Sur Nº 768 – Chosica</span>
			</div>
		</div>

		<!-- Imagen del mapa -->
		<div class="flex justify-center md:justify-end">
			<img
				src={Mapa.src}
				alt="Mapa"
				class="w-100 h-45 object-cover rounded shadow-md transition-transform duration-300 hover:scale-105 hover:shadow-lg cursor-pointer"
			/>
		</div>
	</div>
</footer>
