---
// WhatsApp flotante
---

<div class="fixed bottom-[120px] right-[20px] z-[1000] group">
	<div class="absolute right-full top-1/2 transform -translate-y-1/2 mr-2 opacity-0 group-hover:opacity-100 bg-white px-3 py-2 rounded-lg shadow-lg transition-opacity duration-300 whitespace-nowrap">
		¿Necesitas más información? ¡Escríbenos!
	</div>
	<a href="#" class="whatsapp-marketing flex justify-center items-center w-12 h-12 md:w-15 md:h-15 bg-[#25d366] rounded-full shadow-lg">
		<img src="/whatsapp-marketing.svg"
		alt="Contactar por Whatsapp"
		class="w-6 h-6 md:w-8 md:h-8" 
		/>
	</a>
</div>
