---
// WhatsApp flotante
---

<div class="flex items-center fixed bottom-[120px] right-[20px] z-40 group">
	<div class="absolute right-full mr-2 opacity-0 group-hover:opacity-100 bg-white px-3 py-2 rounded-lg shadow-lg duration-300 whitespace-nowrap pointer-events-none">
		¿Necesitas más información? ¡Escríbenos!
	</div>
	<a href="#" class="whatsapp-marketing flex justify-center items-center size-12 md:size-15 bg-[#25d366] rounded-full shadow-lg">
		<img 
			src="/whatsapp-marketing.svg"
			alt="Contactar por Whatsapp"
			class="size-8" 
		/>
	</a>
</div>
