---
// Sección Hero de la página de Miembros

import ProfesoresBienvenida from "../../../images/miembros/profesores-bienvenida.webp";
---

<section
	class="flex flex-col md:flex-row items-center justify-between pt-8 pb-10"
>
	<!-- Columna de texto centrado verticalmente -->
	<div
		class="md:w-1/2 flex flex-col justify-center pl-20 md:pl-28 pr-4 -mt-8"
	>
		<h2
			class="text-6xl md:text-7xl font-bold text-[#50b9b6] leading-tight mb-4"
		>
			¡Conoce a<br />
			nuestra <img
				src="/bienvenida-miembros.svg"
				alt="Bienvenido al apartado de miembros"
				class="inline w-20 h-20 align-middle"
			/><br />
			comunidad!
		</h2>
		<div class="h-1 bg-[#50b9b6] w-full max-w-[430px]"></div>
	</div>

	<!-- Columna con imagen -->
	<div class="md:w-1/2 -mt-8">
		<img
			src={ProfesoresBienvenida.src}
			alt="Foto del equipo institucional"
			class="rounded-bl-[100px] w-full h-auto object-cover"
		/>
	</div>
</section>
