---
// Sección Hero

import DonBosco from "../../../images/index/don-bosco.webp";
---

<section
	class="relative flex items-center bg-linear-to-r from-white via-[#E0F6F6] to-[#4FAFB1]"
>
	<!-- Contenedor para texto y botón -->
	<div class="block text-center xl:text-left px-4 lg:px-12 2xl:px-24 py-8 lg:pt-16 z-10">
		<!-- Título principal -->
		<h1 class="font-bold bg-gradient-to-r from-[#4FAFB1] via-[#A1EAEC] to-white bg-clip-text text-transparent
			 	text-4xl md:text-6xl lg:text-7xl">
			Un legado salesiano: <br />
			educación que transforma vidas
		</h1>

		<p class="text-lg md:text-xl lg:text-2xl font-bold text-[#d6f1ef] xl:text-[#4FAFB1] my-8">
			Formamos personas <br>
			íntegras y comprometidas. <br>
			¿Listo para ser parte de nuestra misión?
		</p>

		<!-- Botón con cursor blanco -->
		<a
			href="#"
			class="group inline-flex items-center px-8 py-4 ml-4 xl:ml-40 rounded-lg bg-[#4FAFB1] hover:bg-[#297378] hover:scale-105 duration-300"
		>
			<span class="text-white text-lg md:text-xl font-semibold">Reserva tu vacante aquí</span>
			<img
				src="/cursor.svg"
				alt=""
				class="hidden xl:flex size-6 ml-1 group-hover:translate-x-1 duration-300 filter invert brightness-0"
			/>
		</a>
	</div>

	<!-- Imagen decorativa -->
	<img
		src={DonBosco.src}
		alt="Don Bosco"
		class="absolute object-cover w-full h-full xl:w-1/2 xl:h-100 xl:top-8 xl:right-12 2xl:right-24 xl:rounded-2xl"
	/>
</section>
