---
// Sección de propuestas

const propuestas = [
	{
		nombre: "Académica",
		imagen: "/propuesta-academica.svg",
		alt: "Propuesta académica",
	},
	{
		nombre: "Pastoral",
		imagen: "/propuesta-pastoral.svg",
		alt: "Propuesta de pastoral",
	},
	{
		nombre: "Tutoría",
		imagen: "/propuesta-tutoria.svg",
		alt: "Propuesta de tutoría",
	},
	{
		nombre: "Administrativa",
		imagen: "/propuesta-administrativa.svg",
		alt: "Propuesta administrativa",
	},
];
---

<section class="bg-white my-10">
	<div class="px-4 lg:px-24">
		<!-- Título de sección-->
		<h2 class="inline-block text-4xl text-[#4FAFB1] text-left font-semibold mb-6 
				after:block after:w-auto after:bg-[#4FAFB1] after:h-1 after:mt-1 after:rounded-2xl">
			¿Cuál es nuestra propuesta?
		</h2>

		<!-- Propuestas -->
		<div class="flex flex-wrap items-center justify-center 2xl:justify-between gap-8">
			{
				propuestas.map(({ nombre, imagen, alt }) => (
					<div 
						class="relative flex flex-col items-center bg-[#7BCDCC] w-68 xl:w-76
						rounded-xl shadow-lg hover:shadow-xl hover:-translate-y-1 duration-300 ease-linear"
					>
						<img
							src={imagen}
							alt={alt}
							class="size-24 mt-6"
						/>
						<span class="text-3xl font-semibold text-[#214A4E] mb-23 text-center">
							{nombre}
						</span>

						<div class="absolute bottom-0 w-16 h-18 bg-white rounded-t-full flex items-center justify-center">
							<span class="text-[#7BCDCC] text-5xl font-semibold">+</span>
						</div>
					</div>
				))
			}
		</div>
	</div>
</section>
