---
// Sección de servicios educativos

import NivelInicial from "../../../images/index/nivel-inicial.webp";
import NivelPrimaria from "../../../images/index/nivel-primaria.webp";
import NivelSecundaria from "../../../images/index/nivel-secundaria.webp";
import Talleres from "../../../images/index/talleres.webp";

const servicios = [
	{
		servicio: "Nivel inicial",
		imagen: NivelInicial.src,
	},
	{
		servicio: "Nivel Primaria",
		imagen: NivelPrimaria.src,
	},
	{
		servicio: "Nivel Secundaria",
		imagen: NivelSecundaria.src,
	},
	{
		servicio: "Talleres",
		imagen: Talleres.src,
	},
];
---

<section class="bg-white my-10">
	<div class="px-4 lg:px-24">
		<!--Título de sección -->
		<h2 class="inline-block text-4xl text-[#4FAFB1] text-left font-semibold mb-6 
				after:block after:w-auto after:bg-[#4FAFB1] after:h-1 after:mt-1 after:rounded-2xl">
			¿Qué ofrecemos?
		</h2>
		<!-- Servicios -->
		<div class="flex flex-wrap items-center justify-center 2xl:justify-between gap-8">
			{
				// Una tarjeta por cada servicio
				servicios.map(({servicio, imagen}) => (
					<div class="w-68 xl:w-76 h-fit overflow-hidden rounded-xl shadow-lg hover:shadow-xl hover:-translate-y-1 duration-300 ease-linear">
						<img 
							src={imagen} 
							alt={servicio}
							class="w-full h-60 xl:h-72 object-cover"
						/>
						<div class="bg-[#4FAFB1] flex items-center pl-6 py-3 gap-2">
							<span class="text-white text-left font-semibold">{servicio}</span>
							<img
								src="/flecha-derecha-servicios.svg"
								class="size-6"
							/>
						</div>
					</div>					
				))
			}
		</div>
	</div>
</section>
