---
// Sección de servicios educativos
---

<section class="bg-[#f8ffff] py-8 px-6 md:px-6">
	<div class="max-w-6xl mx-auto">
		<h2 class="titulo-subrayado mb-20">¿Qué ofrecemos?</h2>
		<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">
			<div class="card">
				<img
					src="/src/images/index/nivel-inicial.webp"
					alt="Nivel Inicial"
					class="card-img"
				/>
				<div class="oferta-educativa">
					Nivel Inicial
					<img
						src="/flecha-derecha-servicios.svg"
						class="w-4 h-4 md:w-6 md:h-6"
					/>
				</div>
			</div>
			<div class="card">
				<img
					src="/src/images/index/nivel-primaria.webp"
					alt="Nivel Primaria"
					class="card-img"
				/>
				<div class="oferta-educativa">
					Nivel Primaria
					<img
						src="/flecha-derecha-servicios.svg"
						class="w-4 h-4 md:w-6 md:h-6"
					/>
				</div>
			</div>
			<div class="card">
				<img
					src="/src/images/index/nivel-secundaria.webp"
					alt="Nivel Secundaria"
					class="card-img"
				/>
				<div class="oferta-educativa">
					Nivel Secundaria
					<img
						src="/flecha-derecha-servicios.svg"
						class="w-4 h-4 md:w-6 md:h-6"
					/>
				</div>
			</div>
			<div class="card">
				<img
					src="/src/images/index/talleres.webp"
					alt="Talleres"
					class="card-img"
				/>
				<div class="oferta-educativa">
					Talleres
					<img
						src="/flecha-derecha-servicios.svg"
						class="w-4 h-4 md:w-6 md:h-6"
					/>
				</div>
			</div>
		</div>
	</div>
</section>
